@use '@styles/elements/index' as *;
@use '@styles/settings/index' as *;

/* $image-url: 'https://images.sftcdn.net/images/t_app-icon-m/p/c828c686-96d4-11e6-bce4-00163ec9f5fa/2413414525/nmap-icon.png'; */
$image-url: '/eyeanimation3.gif';
$gradient-color-1: lighten($color-primary, 50);
$gradient-color-2: lighten($color-primary, 45);

$peek-anim-time: 2.5s;
$waves-anim-time: 2s;
$shadow-anim-time: 3s;

.perspective {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.container--home {
  height: 150vh;
  width: 200vw;

  background: url($image-url),
    repeating-radial-gradient(circle at center,
      $gradient-color-1,
      $gradient-color-2 50px);
  background-size:
    70px 50px,
    400vw 300vh;
  background-repeat: no-repeat;

  transform: rotateX(15deg);

  display: flex;
  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;

  animation: $peek-anim-time ease forwards waves,
  $waves-anim-time ease #{$peek-anim-time - 0.1s} forwards changeGradientWidth;
}

@keyframes waves {
  0% {
    background-position: center, center;
  }

  90% {
    background-position:
      45% 30%,
      55% 70%;
  }

  100% {
    background-position: center, center;
  }
}

@keyframes child {
  0% {
    box-shadow: 0 0 500px 20px lighten($color: $color-primary, $amount: 50) inset;
  }

  50% {
    box-shadow: 0 0 500px 20px lighten($color: $color-primary, $amount: 30) inset;
  }

  100% {
    box-shadow: 0 0 500px 1px lighten($color: $color-primary, $amount: 30) inset;
  }
}

.legend {
  /* display: none; */
  border-radius: 50%;
  overflow: hidden;

  background-color: white;
  box-shadow: 0 0 500px 20px lighten($color: $color-primary, $amount: 50) inset;

  position: absolute;

  animation: $shadow-anim-time ease #{$peek-anim-time + $waves-anim-time - 0.5} forwards child;
}

.legend__text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 500px;
  height: 500px;

  text-align: center;
  font-size: 1.2rem;

  white-space: nowrap;
}

/* .foo { */
/*   z-index: 100; */
/*   position: relative; */
/*   bottom: 50px; */
/**/
/*   width: 500px; */
/*   height: 500px; */
/**/
/*   /* transform: rotate(90deg); */
/**/
/*   text { */
/*     transform: rotate(45deg); */
/*   } */
/* } */

/* .legend__greetings { */
/* } */
/**/
/* .legend__motivation { */
/* } */
/**/
.linksTree {
  position: absolute;
  bottom: 25%;
}

/**/
.linksTree__nav {}

.linksTree__list {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;

  font-weight: bold;
}

.linksTree__item {
  a {
    background-image: linear-gradient(to right,
        $color-blu-indigo,
        $color-blu-navy );
    background-clip: text;
    background-size: 150% 100%;

    color: transparent;

    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    transition: background-position 0.3s ease;

    &:hover {
      background-position: 100%;
    }
  }
}

/* .linksTree__item--active { */
/*   position: relative; */
/**/
/*   color: $color-blu-navy; */
/**/
/*   &:hover { */
/*     &:before { */
/*       color: $color-blu-navy; */
/*     } */
/*   } */
/**/
/*   &:before { */
/*     position: absolute; */
/*     left: -10px; */
/**/
/*     content: '•'; */
/**/
/*     transition: color 0.25s ease; */
/*     color: $color-blu-argentinian; */
/*   } */
/* } */

@mixin generate-keyframes {
  @for $i from 0 through 100 {
    #{$i}% {
      background-image: url($image-url),
      repeating-radial-gradient(circle at center,
        $gradient-color-1,
        $gradient-color-2 #{0 + $i}px);
    }
  }
}

@keyframes changeGradientWidth {
  @include generate-keyframes;
}
