@use '@styles/elements/index' as *;
@use '@styles/settings/index' as *;

.container--connect {
  @extend .container;

  display: flex;
  flex-flow: row nowrap;
  gap: 10rem;

  border-radius: 10px;
  padding: 4rem;
  box-shadow: 0 0 10px 1px $color-blu-defrance inset;

  background: white;

  font-size: 2rem;
}

.contactsInfo {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  border-left: 5px solid $color-primary;
  padding: 1rem;
}

.linksTree--connect {
  padding: 1rem;
}

.linksTree__nav {}

.linksTree__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.linksTree__item {
  a {
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

body {
  /* background: magenta; */

  $gradient-color-1: lighten($color-primary, 50);
  $gradient-color-2: lighten($color-primary, 45);

  background: repeating-radial-gradient(circle at center,
      $gradient-color-1,
      $gradient-color-2 50px);
}

/* svg { */
/*   height: 30vw; */
/*   width: 30vw; */
/* } */

/* svg:has(path:hover) { */
/*   animation: rotation 10s infinite forwards; */
/* } */
/**/
/* svg:has(#part1:hover) { */
/*   transform: rotate(0deg); */
/* } */

/* svg circle { */
/*   fill: transparent; */
/* } */
/**/
/* path { */
/* } */
/**/
/* #part1 { */
/*   fill: $color-background; */
/* } */
/**/
/* #part2 { */
/*   fill: $color-background; */
/* } */
/**/
/* #part3 { */
/*   fill: $color-background; */
/* } */
/**/
/* #inner { */
/*   fill: $color-background; */
/* } */
/**/
/* #part1:hover, */
/* #part2:hover, */
/* #part3:hover { */
/*   cursor: pointer; */
/* } */
/**/
/* text { */
/*   user-select: none; */
/**/
/*   fill: $color-primary; */
/**/
/*   transition: fill 0.25s ease; */
/**/
/*   &:hover { */
/*     fill: $color-blu-defrance; */
/*   } */
/* } */
/**/
/* path:hover+text { */
/*   fill: $color-blu-defrance; */
/* } */
