@use '@styles/elements/index' as *;
@use '@styles/settings/index' as *;

@use './styles/businessCard' as *;
@use './styles/works' as *;
@use './styles/aboutMe' as *;

.container--home {
}

.verticalDivider {
  flex-grow: 0;
  /* position: sticky; */
  /* top: 0; */
  grid-area: divider;

  width: 15px;

  background: $color-primary;
}
