@use 'settings/index' as *;
@use 'elements/index' as *;
@use 'utils/index' as *;

@use 'elements/' as *;

@use 'settings/reset.scss' as *;
@use 'settings/normalize.scss' as *;

html {
  overscroll-behavior: none;
  overflow-x: hidden;

  font-family: $font-ubuntu, sans-serif;

  body {
    min-height: 100vh;

    overflow-x: hidden;

    font-weight: 400;
    color: $color-primary;
    background-color: $color-background;

    a {
      cursor: pointer;
    }
  }

  .emoji {
    font-family: $font-noto-color, $font-noto;
  }
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

/* .noto-emoji-<uniquifier> { */
/*   font-family: "Noto Emoji", serif; */
/*   font-optical-sizing: auto; */
/*   font-weight: <weight>; */
/*   font-style: normal; */
/* } */
